tr {
  border-bottom: 1px solid #ddd;
}

td {
  font-size: 0.9375rem !important;
  padding: 1rem;
}

th {
  padding: 1rem;
  color: #95aac9 !important;
  font-size: 0.625rem;
  user-select: none;
}

.sort-arrows {
  height: 0.625rem;
  margin-left: 0.25rem;
}

thead {
  background-color: #f9fbfd;
}

tr:hover {
  background-color: #f9fbfd;
}

table {
  border-collapse: collapse;
}

.table-paper {
  margin: 10px;
  max-width: max-content;
  overflow: hidden;
}

#table-search {
  border: none;
  outline-style: none;
  font-size: 0.9375rem;
  margin: 0;
  line-height: 1.5;
  padding: 0.5rem 0 0.5rem 0;
  flex: 1 1 auto;
}

#search-icon {
  float: left;
  padding: 0.6rem 0.75rem;
  padding-left: 0;
}

.controls {
  padding: 0.75rem 1.5rem;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.cool-select {
  border: none;
  font-size: 0.9375rem;
  border-style: none;
  user-select: none;
  cursor: pointer;
}

.table-filter {
  border: 1px solid #e3ebf6;
  font-size: 0.8125rem;
  padding: 0.3rem 0.8rem;
  border-radius: 0.25rem;
  user-select: none;
  flex: 0 0 auto;
  height: max-content;
  margin-top: 0.4rem;
  cursor: pointer;
}

#sliders {
  padding: auto;
}

.table-pages-control {
  display: flex;
  flex-direction: row;
}

.previous-page {
  border-right: 1px solid #b2bfd3;
  float: left;
}

.next-page {
  border-left: 1px solid #b2bfd3;
  float: right;
}

.next-page,
.previous-page {
  padding: 1rem 1.5rem;
  color: #b2bfd3;
  cursor: pointer;
  font-size: 0.9375rem;
}

.next-page:hover,
.previous-page:hover {
  transition: color 0.3s ease;
  color: black;
}

.next-page svg,
.previous-page svg {
  height: 0.9375rem;
}
/* #more-vertical {
  cursor: pointer;
} */
